html {font-size: 18px;}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

header {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.searchbox {
    margin-bottom: 3rem;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.4);
    border: 1px solid lightgray;
    width: 60%;
    font-family: 'Roboto', sans-serif;
}

.image_container {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}